<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>

    <link rel="stylesheet" href="./../css/plan.css">
    <link rel="stylesheet" href="./../css/cssComposant.css">



</head>
<body>

    <%- include("composant/bottomBar") %>
    <%- include("composant/bottomAddTask") %>
    <%- include("composant/floatRightMenu")%>
    <%- include("composant/headOptions")%>
    <%- include("composant/bottomOptions")%>
    <%- include("composant/englobPopUp")%>
    <%- include("composant/bottomModProd")%>
    
   
    <header>

        <div class="top">
            <div>
        
                <h5> Hello <%= username %></h5>
            </div>
            <div>
                <button id="prod_tools" type="button">
                    Modif
                </button>
            </div>
        </div>
        
        

        <div style="display: none" class="middle">
            <div>
                <strong>124</strong>
                <span>En cours</span>
            </div>
            <div>
                <strong>12 Fév 2024</strong>
                <span>Today</span>
            </div>
            <div>
                <strong>330</strong>
                <span>Achevée</span>
            </div>
        </div>
 
 

        <div style="display: none" class="bottom">
            <div class="scrollCont">
                <button type="button">All</button>
                <button type="button">Today</button>
                <button type="button">Tomorrow</button>
                <button type="button">Late</button>
            </div>
        </div>

    </header>

    <div class="assembly">
    
        <h3> URGENT </h3>
        <div id="affichage" class="container">

            <div class="card">
                <div>
                    <input type="checkbox" class="form-check-input">
                </div>

                <div class="card-body">
                    <h5 class="card-title">Titre de cette tâche ... </h5>
                    <div>
                        <p>
                            10:00 PM
                        </p>
                        &nbsp; • &nbsp;
                        <span> Repeat </span>
                    </div>
                    <p class="card-text">
                        Description de la tache de sang pour vous offrir ou pas demain mais vous avez besoin.
                    </p>
                </div>

                <div>
                    <div>
                        Home
                    </div>
                    <button type="button"> __ </button>
                </div>

            </div>


        </div>

        

    </div>
    
    
    
    
    <div class="btn-group-vertical alter_prod_box">
        <button class="btn btn-primary" type="button" id="modifProd">
            Modifier
        </button>
        <button class="btn btn-danger" type="button" id="deleteProd">
            Suprimer
        </button>
    </div>






    <script src="./js/jquery.min.js"></script>
    <script src="./js/minified/swiped-events.js"></script>
    <script type="module" src="./js/main.js"></script>


</body>
</html>